<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="cart-title">Barra de progreso</h4>

        <div
          [style.width.%]="progreso"
          [attr.aria-valuenow]="progreso"
          aria-valuemin="0"
          aria-valuemax="100"
          class="progress-bar bg-info active progress-bar-striped"
          style="height:20px;"
          role="progressbar"
        >
          <span class="sr-only">{{ progreso }}% Complete</span>
        </div>

        <br />

        <div
          [style.width.%]="progreso2"
          [attr.aria-valuenow]="progreso2"
          aria-valuemin="0"
          aria-valuemax="100"
          class="progress-bar bg-success active progress-bar-striped"
          style="height:20px;"
          role="progressbar"
        >
          <span class="sr-only">{{ progreso2 }}% Complete</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <app-incrementador
          nombre="Progreso Azul"
          [progreso]="progreso"
          (cambioValor)="progreso = $event"
        ></app-incrementador>
      </div>
    </div>
  </div>

  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <app-incrementador
          nombre="Progreso Verde"
          [progreso]="progreso2"
          (cambioValor)="progreso2 = $event"
        ></app-incrementador>
      </div>
    </div>
  </div>
</div>
