<h3>{{ leyenda }}</h3>
<div class="input-group">
  <div class="input-group-btn">
    <button (click)="cambiarValor(-5)" class="btn btn-primary" type="button">
      <i class="mdi mdi-minus"></i>
    </button>
  </div>

  <input
    #txtProgress
    [(ngModel)]="progreso"
    (ngModelChange)="onChanges($event)"
    type="number"
    min="0"
    max="100"
    maxlength="3"
    class="form-control"
    name="progreso"
  />

  <div class="input-group-btn">
    <button (click)="cambiarValor(5)" class="btn btn-primary" type="button">
      <i class="mdi mdi-plus"></i>
    </button>
  </div>
</div>
